# -*- coding: utf-8 -*-
<%inherit file="/layouts/content.html" />
<%def name="body()">
<%! 
import time
%>
			<div class="box column-left">
				<div class="box-header">
					<h1>Line Chart</h1>
				</div>
				<div class="box-content">
					<div id="jflot2" style="width: 100%; height: 300px">
					</div>
				</div>

			</div>
			<script type="text/javascript">
				var dataArray2 = [];
				var times = ${times}
				var values = ${values} 
				for (var i = 0; i < 5 ; i++) {  
					dataArray2.push([times[i],values[i]]);
				}
				var data2 = [{
					label: "流量分时数据 端口:"+${port},
					data: dataArray2
				}];

				var options2 = {
					legend: {
						show: true
					},
					points: {
						show: true,
						radius: 3
					},
					lines: {
						show: true
					},
					grid: {
						borderWidth: 0
					},
					xaxis: {
						tickSize: 1
					},
					yaxis: {
						tickSize: 1,
						tickDecimals: 0
					}
				};

				$('document').ready(function () {
					$.plot($("#jflot2"), data2, options2);
				});
			</script>
    
</%def>